html {
  min-width: toRems(360);
  @include breakpoint-down(small) {
    // overflow-x: hidden;
  }
}
body {
  margin: 0;
  box-sizing: border-box;
  color: $color-white;
  a {
    text-decoration: none;
  }
  font-family: "Roboto", sans-serif;
  @include breakpoint-down(small) {
    overflow-x: auto;
  }
}

* {
  margin: 0;
  box-sizing: border-box;
}

.notice {
  display: flex;
  flex-direction: row;
  background-color: #f9e700;
  color: #101a21;
  padding: 20px;
  gap: 10px;
  justify-content: space-between;
  span {
    display: inline-block;
    padding: 15px;
    height: 30px;
    width: 30px;
    border-radius: 6.5px;
    background-color: transparent;
    border: 1.5px solid #101a21;
    background-image: url(/assets/icon-cancel-b.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
