$color-primary: #274963;
$color-secondary: #e52d27;
$color-white: #ffffff;
$color-grayIsh: #e2e2e2;

$box-shadow: 0 9px 8px rgba(0, 0, 0, 0.16);

$font-lg: 1.0625rem;
$font-sm: 0.75rem;
$font-med: 1rem;
$font-xs: 0.625rem;

$padding-Large-Sides: 12.5rem;
