@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
html {
  min-width: 22.5rem;
}

body {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

body a {
  text-decoration: none;
}

@media (max-width: 23.4375em) {
  body {
    overflow-x: auto;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #f9e700;
  color: #101a21;
  padding: 20px;
  gap: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.notice span {
  display: inline-block;
  padding: 15px;
  height: 30px;
  width: 30px;
  border-radius: 6.5px;
  background-color: transparent;
  border: 1.5px solid #101a21;
  background-image: url(/assets/icon-cancel-b.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.nav {
  background-color: #274963;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

@media (min-width: 64em) {
  .nav #menuBtn {
    display: none;
  }
}

.nav .mobileMenu {
  display: block;
}

@media (min-width: 64em) {
  .nav .mobileMenu {
    display: none;
  }
}

.nav .largeScreenNav {
  display: none;
}

@media (min-width: 64em) {
  .nav .largeScreenNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .nav .largeScreenNav .largeExtra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2.25rem;
  }
  .nav .largeScreenNav .largeExtra .moreLinks a {
    color: #ffffff;
  }
}

.nav .navPropsDiv {
  display: none;
}

.nav .expanded {
  min-height: 22.5rem;
}

.nav .navExpanded {
  display: block;
}

.nav__topNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 2.75rem;
  padding-right: 2.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .nav__topNav {
    padding: 1.5625rem 13.125rem;
  }
}

.nav__topNav span {
  height: 1.4375rem;
  width: 1.4375rem;
  background-repeat: no-repeat;
  background-position: center;
}

.nav__navLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__navLinks a {
  color: #ffffff;
  margin-bottom: 1.25rem;
}

.nav__searchDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav__searchDiv input {
  width: 18.375rem;
  background-color: transparent;
  border: 0.09375rem solid #ffffff;
  padding: 0.625rem;
  color: #ffffff;
}

.nav__searchDiv span {
  display: inline-block;
  background-color: #ffffff;
  height: 2.375rem;
  width: 3.1875rem;
  background-image: url(/assets/icon-search.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.nav__extraLinksDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2.875rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.25rem;
  background-color: #e2e2e2;
  gap: 0.625rem;
}

.nav__extraLinksDiv a {
  color: #274963;
}

@media (min-width: 64em) {
  .nav__extraLinksDiv {
    gap: 3.75rem;
  }
}

.menuIcon {
  background-image: url(/assets/icon-menu.svg);
}

.cancelIcon {
  background-image: url(/assets/icon-cancel.svg);
}

.hero {
  background-color: #e52d27;
  padding-left: 0.3125rem;
  padding-right: 0.3125rem;
  min-height: 34.375rem;
  display: -ms-grid;
  display: grid;
  text-align: center;
}

@media (min-width: 64em) {
  .hero {
    min-height: 37.0625rem;
    padding-left: 12.5rem;
    padding-right: 12.5rem;
  }
}

.hero__headline h1 {
  text-align: center;
  padding-top: 3.25rem;
  color: #e2e2e2;
  font-size: 2.8125rem;
}

.hero__headline h1 span {
  font-weight: 100;
}

@media (max-width: 23.4375em) {
  .hero__headline h1 {
    font-size: 2.1875rem;
  }
}

@media (min-width: 64em) {
  .hero__headline h1 {
    text-align: left;
  }
}

.hero__buttonGroup {
  margin-top: 1.25rem;
  text-align: center;
}

.hero__buttonGroup a {
  display: inline-block;
  width: 9.6875rem;
  padding: 0.625rem;
  text-align: center;
}

.hero__buttonGroup #enquire {
  background-color: transparent;
  border: 0.09375rem solid #e2e2e2;
  color: #e2e2e2;
  margin-bottom: 0.625rem;
}

.hero__buttonGroup #register {
  background-color: #e2e2e2;
  color: #e52d27;
}

.hero__group1 {
  position: relative;
  min-height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 64em) {
  .hero__group1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.hero__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 15.6875rem;
  width: 22.25rem;
}

.hero__img img {
  width: 100%;
}

@media (min-width: 64em) {
  .hero__img img {
    width: 48.875vw;
    position: absolute;
    top: 1.6rem;
    right: -0.3125rem;
  }
}

@media (min-width: 64em) {
  .hero__headline {
    margin-top: 6rem;
    margin-left: 6rem;
  }
}

.hero__grades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: -3.2rem;
  background-color: #ffffff;
  color: #e52d27;
  width: 14.75rem;
  height: 3.25rem;
}

.hero__grades h3 {
  font-weight: 200;
  font-size: 0.9375rem;
}

@media (min-width: 64em) {
  .hero__grades {
    position: static;
    top: 0;
  }
}

@media (min-width: 64em) {
  .hero__grades {
    width: 38.625rem;
    height: 5.9375rem;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .hero__grades h3 {
    font-size: 1.875rem;
  }
}

.hero__subjects {
  background-color: #274963;
  color: #ffffff;
  border: 0.09375rem solid #ffffff;
  padding: 1.5625rem 5rem;
  justify-self: flex-end;
}

.hero__subjects p {
  font-size: 0.875rem;
}

@media (min-width: 64em) {
  .hero__subjects {
    width: 38.625rem;
    height: 9.5625rem;
  }
  .hero__subjects p {
    font-size: 1.1875rem;
  }
}

.hero__group2 {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media (min-width: 64em) {
  .hero__group2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.wrapper {
  padding: 3.125rem;
  color: #274963;
}

@media (min-width: 64em) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: null) {
  .wrapper__inner {
    max-width: 31.25rem;
  }
}

.wrapper form {
  margin-top: 1.5rem;
}

.wrapper .topHeader__imgContainer {
  background-color: #274963;
  height: 6.5625rem;
  width: 6.5625rem;
  padding: 1.09375rem;
}

.wrapper .topHeader__imgContainer img {
  width: 100%;
}

.wrapper .topHeader__title {
  padding-top: 0.8125rem;
  color: #274963;
  font-size: 1.25rem;
}

@media (min-width: 64em) {
  .wrapper .topHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 1.5rem;
  }
}

.wrapper .topLine {
  border: 0.125rem solid #e52d27;
}

.wrapper .myInput {
  background-color: #274963;
  color: #ffffff;
}

@media (min-width: 64em) {
  .wrapper .myInput {
    max-width: 20vw;
  }
}

.wrapper #required {
  color: #e52d27;
}

.wrapper .gender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2.5rem;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
}

.wrapper .forWhatsApp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column: 2;
  grid-column: 2;
}

.wrapper .whatsAppNumber {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2.5rem;
  padding-left: 1.25rem;
}

@media (min-width: 64em) {
  .personalinfo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 2fr;
        grid-template-columns: 2fr 2fr;
    -ms-grid-rows: 1fr 5vh (1fr)[2];
        grid-template-rows: 1fr 5vh repeat(2, 1fr);
    gap: 1rem;
  }
  .personalinfo .grade {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 1;
    grid-column: 1;
  }
  .personalinfo .schoolName {
    -ms-grid-row: 3;
    grid-row: 3;
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .personalinfo .cellPhone {
    -ms-grid-row: 4;
    grid-row: 4;
    -ms-grid-column: 1;
    grid-column: 1;
  }
}

@media (min-width: 64em) {
  .regPlan {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1.25rem (1fr)[2] 1.25rem 4rem 1.25rem 1fr;
        grid-template-rows: 1.25rem repeat(2, 1fr) 1.25rem 4rem 1.25rem 1fr;
    gap: 1rem;
  }
}

.regPlan #subjects {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.regPlan #service {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
}

.regPlan .subjectsLabel {
  margin-left: 2.125rem;
}

.regPlan .subjectsCheck {
  margin-left: 0;
}

.regPlan .price p {
  margin-left: 2.125rem;
}

.regPlan .priceServiceCard {
  border: 0.09375rem solid #274963;
  padding: 0.625rem;
  height: 6.875rem;
  border-radius: 0.3125rem;
  margin-bottom: 1.25rem;
}

.regPlan .priceServiceCard input {
  margin-left: 0;
}

@media (min-width: 64em) {
  .parentInfo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
  }
  .parentInfo h5 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}
/*# sourceMappingURL=main.css.map */